<a href="https://colab.research.google.com/github/arghac14/Customer-churn-analysis/blob/master/Kmodes_clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sb

In [3]:
import io
from google.colab import files
uploaded = files.upload()

Saving bank numeric.xlsx to bank numeric.xlsx

In [4]:
import io
df = pd.read_excel(io.BytesIO(uploaded['bank numeric.xlsx']))
df.head()

    age   job    marital    education   ...   pdays    previous    poutcome   Y
0    30      1          0            2  ...       -1           0           0  0
1    33     10          0            1  ...      339           4           2  0
2    35      2          2            3  ...      330           1           2  0
3    30      2          0            3  ...       -1           0           0  0
4    59      6          0            1  ...       -1           0           0  0

[5 rows x 17 columns]

In [5]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/79/c0/f7d8a0eb41ac6f302b4bc100f91b6e0f2558425ccfefaa0ec0430f77ee97/kmodes-0.10.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.16.5)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.21.3)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.13.2)
Installing collected packages: kmodes
Successfully installed kmodes-0.10.1

In [6]:
from kmodes.kmodes import KModes


km = KModes(n_clusters=4, init='Huang', n_init=5, verbose=1)

clusters = km.fit_predict(df)

print(km.cluster_centroids_)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 1622, cost: 33860.0
Run 1, iteration: 2/100, moves: 0, cost: 33860.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 1257, cost: 32956.0
Run 2, iteration: 2/100, moves: 238, cost: 32902.0
Run 2, iteration: 3/100, moves: 31, cost: 32902.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 1639, cost: 33474.0
Run 3, iteration: 2/100, moves: 809, cost: 33386.0
Run 3, iteration: 3/100, moves: 60, cost: 33386.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 794, cost: 33676.0
Run 4, iteration: 2/100, moves: 323, cost: 33676.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 1942, cost: 33169.0
Run 5, iteration: 2/100, moves: 287, cost: 33169.0
Best run was number 2
[[ 34   2   0   3   0   0   1   0   2  18   5 104   1  -1   0   0   0]
 [ 36   6   0   1   0   0   1   0   0  16   5  58   1  -1   0   0   0]
 [ 32   2   2   3   0   0   0   0   2  28   8 119   1  -1   0   0   0]
 [ 37   9   0   1   0   0   0   0   2  20   8 123   2  -1   0   0   0]]